<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wjp.mybatisgenerator.dao.SysTrainMapper" >
  <resultMap id="BaseResultMap" type="com.wjp.mybatisgenerator.entity.SysTrain" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="train_number" property="trainNumber" jdbcType="VARCHAR" />
    <result column="from_station" property="fromStation" jdbcType="VARCHAR" />
    <result column="to_station" property="toStation" jdbcType="VARCHAR" />
    <result column="go_time" property="goTime" jdbcType="TIME" />
    <result column="arrival_time" property="arrivalTime" jdbcType="TIME" />
    <result column="total_time" property="totalTime" jdbcType="TIME" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, train_number, from_station, to_station, go_time, arrival_time, total_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_train
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_train
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wjp.mybatisgenerator.entity.SysTrain" >
    insert into sys_train (id, train_number, from_station, 
      to_station, go_time, arrival_time, 
      total_time)
    values (#{id,jdbcType=INTEGER}, #{trainNumber,jdbcType=VARCHAR}, #{fromStation,jdbcType=VARCHAR}, 
      #{toStation,jdbcType=VARCHAR}, #{goTime,jdbcType=TIME}, #{arrivalTime,jdbcType=TIME}, 
      #{totalTime,jdbcType=TIME})
  </insert>
  <insert id="insertSelective" parameterType="com.wjp.mybatisgenerator.entity.SysTrain" >
    insert into sys_train
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="trainNumber != null" >
        train_number,
      </if>
      <if test="fromStation != null" >
        from_station,
      </if>
      <if test="toStation != null" >
        to_station,
      </if>
      <if test="goTime != null" >
        go_time,
      </if>
      <if test="arrivalTime != null" >
        arrival_time,
      </if>
      <if test="totalTime != null" >
        total_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="trainNumber != null" >
        #{trainNumber,jdbcType=VARCHAR},
      </if>
      <if test="fromStation != null" >
        #{fromStation,jdbcType=VARCHAR},
      </if>
      <if test="toStation != null" >
        #{toStation,jdbcType=VARCHAR},
      </if>
      <if test="goTime != null" >
        #{goTime,jdbcType=TIME},
      </if>
      <if test="arrivalTime != null" >
        #{arrivalTime,jdbcType=TIME},
      </if>
      <if test="totalTime != null" >
        #{totalTime,jdbcType=TIME},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wjp.mybatisgenerator.entity.SysTrain" >
    update sys_train
    <set >
      <if test="trainNumber != null" >
        train_number = #{trainNumber,jdbcType=VARCHAR},
      </if>
      <if test="fromStation != null" >
        from_station = #{fromStation,jdbcType=VARCHAR},
      </if>
      <if test="toStation != null" >
        to_station = #{toStation,jdbcType=VARCHAR},
      </if>
      <if test="goTime != null" >
        go_time = #{goTime,jdbcType=TIME},
      </if>
      <if test="arrivalTime != null" >
        arrival_time = #{arrivalTime,jdbcType=TIME},
      </if>
      <if test="totalTime != null" >
        total_time = #{totalTime,jdbcType=TIME},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wjp.mybatisgenerator.entity.SysTrain" >
    update sys_train
    set train_number = #{trainNumber,jdbcType=VARCHAR},
      from_station = #{fromStation,jdbcType=VARCHAR},
      to_station = #{toStation,jdbcType=VARCHAR},
      go_time = #{goTime,jdbcType=TIME},
      arrival_time = #{arrivalTime,jdbcType=TIME},
      total_time = #{totalTime,jdbcType=TIME}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>